big{
    margin: 0;
    padding: 0;
    display: inline-block;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  .content{
    height: 600px;
    width: 1500px;
    overflow: hidden;
    position: center;
    margin-left: 10px;
  }


  .centered {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

  .text {
  font-size: 40px;
  position: sticky;
  bottom: 5px;
  height: 80px;
  width: 100%;
  text-align: center;
}

.dot {
height: 15px;
width: 15px;
margin: 0 2px;
background-color: #bbb;
border-radius: 50%;
display: inline-block;
transition: background-color 0.6s ease;
}

.active {
background-color: #717171;
}

/* Fading animation */
.fade {
-webkit-animation-name: fade;
-webkit-animation-duration: 1.5s;
animation-name: fade;
animation-duration: 1.5s;
}

@-webkit-keyframes fade {
from {opacity: .4} 
to {opacity: 1}
}

@keyframes fade {
from {opacity: .4} 
to {opacity: 1}
} 

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
.text {font-size: 11px}
}  


